.html,body{
  height: 100%;
  width: 100%;
  margin: 0;
}
.description h2{
  text-align: center;
}
.img-description{
  margin: 5%;
}
.image{
  height:100%;
  width: 100%;
}
.temple-detail{
  margin: 5%;
}
#v-pills-tab a{
 font-size: 25px;
}
.vertical-tabs{
  display: flex;
}
.tab-content{
  margin: 2%;
 width: 100%;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
 margin: 2%;
}
.card-body{
  background-color: #bfe6f5;
}
.gallery{
  height: 15rem;
  width: 100%;
}
.buttons{
  margin: 2%;
  text-align: right;
}
.cart{ 
    padding: 1%;   
    border: 1px solid red;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#bfe6f5;  
      font-size: 15px;
    text-align: left; 

}
  body
    {
        counter-reset: Serial;          
    }

    table
    {
        border-collapse: separate;
    }

    tr td:first-child:before
    {
      counter-increment: Serial;      
      content: counter(Serial); 
    }
table{
  width: 100%;

}
td{
  padding: 1%;
}


@media screen and (max-width: 900px) {

   .vertical-tabs{
  display: block;
}

}
@media screen and (max-width: 500px) {

  table{
    font-size: 15px;   
    text-align: center;
  }
   /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
 
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
      
   tr{
    width: 400px;
    }
    
        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 20%;

        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 10px;
            width: 20%;
            white-space: nowrap;
        }
    tr td:first-child:before
    {
   position: absolute;
  position: relative;
    }
        /*
        Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
        */
        td:nth-of-type(1):before { content: "Sl No"; }
        td:nth-of-type(2):before { content: "Puja name"; }
        td:nth-of-type(3):before { content: "Puja rate"; }
        td:nth-of-type(4):before { content: "Puja frequency"; }


  }

