html,body{
  height: 100%;
  width: 100%;
  margin: 0;
 
}


.header {
  background-color: #FDAF01;  
height: 50px;
}
.cart-logo{
  top: 8px;
  right: 20px;
    font-size: 18px;

}
 a.cart-logo .cart-basket {
  font-size: .6rem;
  position: absolute;
  top: -6px;
  right: -5px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: #418deb;
  border-radius: 50%;
}

.header-left{
  float: left;
}
.logo{
  margin: 8px;
}
.header-right{
  float: right;
  display: flex;
    margin: 8px;
}
.header-right a{
text-decoration: none;
color: black;
}
.navbar{
  width: 100%;
}

.account{
    font-size: 18px;
}
.fa-user{
  background-color: lightgrey;
  border-radius: 50%;
  padding: 4px;
  margin: 2px;
}

.navbar li a{
  font-size: 22px; 
color: #FDAF01 !important;
text-align: center !important;
}

.searchbar{
    width: 658px!important;

}

